<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="PROYECTO_LIBRERIASConnectionString" connectionString="Data Source=KIARA-PC\SQLEXPRESS;Initial Catalog=PROYECTO_LIBRERIAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PROYECTO_LIBRERIASConnectionString2" connectionString="Data Source=LAPTOP-7P9OO2OA\SQLEXPRESS;Initial Catalog=PROYECTO_LIBRERIAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PROYECTO_LIBRERIASConnectionString3" connectionString="Data Source=LAPTOP-7P9OO2OA\SQLEXPRESS;Initial Catalog=PROYECTO_LIBRERIAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PROYECTO_LIBRERIASConnectionString4" connectionString="Data Source=LAPTOP-7P9OO2OA\SQLEXPRESS;Initial Catalog=PROYECTO_LIBRERIAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PROYECTO_LIBRERIASConnectionString5" connectionString="Data Source=LAPTOP-7P9OO2OA\SQLEXPRESS;Initial Catalog=PROYECTO_LIBRERIAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PROYECTO_LIBRERIASConnectionString6" connectionString="Data Source=LAPTOP-7P9OO2OA\SQLEXPRESS;Initial Catalog=PROYECTO_LIBRERIAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PROYECTO_LIBRERIASConnectionString7" connectionString="Data Source=LAPTOP-7P9OO2OA\SQLEXPRESS;Initial Catalog=PROYECTO_LIBRERIAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PROYECTO_LIBRERIASConnectionString8" connectionString="Data Source=LAPTOP-7P9OO2OA\SQLEXPRESS;Initial Catalog=PROYECTO_LIBRERIAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PROYECTO_LIBRERIASConnectionString9" connectionString="Data Source=LAPTOP-7P9OO2OA\SQLEXPRESS;Initial Catalog=PROYECTO_LIBRERIAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PROYECTO_LIBRERIASConnectionString10" connectionString="Data Source=LAPTOP-7P9OO2OA\SQLEXPRESS;Initial Catalog=PROYECTO_LIBRERIAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PROYECTO_LIBRERIASConnectionString11" connectionString="Data Source=LAPTOP-7P9OO2OA\SQLEXPRESS;Initial Catalog=PROYECTO_LIBRERIAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PROYECTO_LIBRERIASConnectionString12" connectionString="Data Source=LAPTOP-7P9OO2OA\SQLEXPRESS;Initial Catalog=PROYECTO_LIBRERIAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PROYECTO_LIBRERIASConnectionString13" connectionString="Data Source=LAPTOP-7P9OO2OA\SQLEXPRESS;Initial Catalog=PROYECTO_LIBRERIAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PROYECTO_LIBRERIASConnectionString14" connectionString="Data Source=LAPTOP-7P9OO2OA\SQLEXPRESS;Initial Catalog=PROYECTO_LIBRERIAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PROYECTO_LIBRERIASConnectionString15" connectionString="Data Source=LAPTOP-7P9OO2OA\SQLEXPRESS;Initial Catalog=PROYECTO_LIBRERIAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PROYECTO_LIBRERIASConnectionString16" connectionString="Data Source=LAPTOP-7P9OO2OA\SQLEXPRESS;Initial Catalog=PROYECTO_LIBRERIAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PROYECTO_LIBRERIASConnectionString17" connectionString="Data Source=LAPTOP-7P9OO2OA\SQLEXPRESS;Initial Catalog=PROYECTO_LIBRERIAS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
